
\.vs/VideoStore/v15/\.suo

\.vs/VideoStore/v15/Server/sqlite3/

*.ide

VideoStore\.Process/bin/Debug/

VideoStore\.Process/obj/x86/Debug/

VideoStore\.Services\.Interfaces/bin/Debug/

VideoStore\.Services\.Interfaces/obj/Debug/

VideoStore\.Services/bin/Debug/

VideoStore\.Services/obj/Debug/

VideoStore\.WebClient/bin/

VideoStore\.WebClient/obj/Debug/

*.cache
