
VideoStore\.Business\.Components\.Interfaces/bin/Debug/

\.vs/VideoStore/v15/

VideoStore\.Business\.Components\.Interfaces/obj/Debug/

VideoStore\.Business\.Components/bin/Debug/

VideoStore\.Business\.Components/obj/Debug/

VideoStore\.Entities/VideoStore\.Business\.Entities/bin/Debug/

VideoStore\.Entities/VideoStore\.Business\.Entities/obj/Debug/

VideoStore\.Entities/VideoStore\.Business\.Entities/

VideoStore\.Process/bin/Debug/

VideoStore\.Process/obj/x86/Debug/

VideoStore\.Services/bin/Debug/

VideoStore\.Services/obj/Debug/
